<!DOCTYPE HTML>
<html lang xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Клиенты</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <header th:insert="visas/header :: header"></header>
</div>

    <div class="container mt-5">
        <div th:each="el : ${client}" class="alert alert-info mt-2">
            <p th:text="${el.firstName}"></p>
            <p th:text="${el.lastName}"></p>
            <p th:date="${el.dateBirst}"></p>
            <p th:text="${el.address}"></p>
            <p th:text="${el.phone}"></p>
            <p th:text="${el.email}"></p>
            <p th:text="${el.documents}"></p>
            <a th:href="'/client/' + ${el.id} + '/edit'" class="btn btn-warning">Редактировать</a><br><br>
            <form th:action="'/client/' + ${el.id} + '/remove'" method="post">
                <button class="btn btn-warning" type="submit">Удалить</button>
            </form>
        </div>
    </div>
    <div th:insert="visas/footer :: footer"></div>
</div>
</body>
</html>