<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <header th:insert="visas/header :: header"></header>
</div>
<div class="container mt-5">
    <p>Шаг 1:</p>
    <p>Выбрать тип визы</p>
    <p>Шаг 2:</p>
    <p>Пройти регистрацию/авторизацию</p>
    <p>Шаг 3:</p>
    <p>Заполнить заявку</p>
    <p>Шаг 4:</p>
    <p>Произвести оплату</p>
    <p>Шаг 5:</p>
    <p>Проверить статус рассмотрения заявки</p>
    <p>Шаг 6:</p>
    <p>Забрать готовые документы</p>
</div>
<div th:insert="visas/footer :: footer"></div>
</body>
</html>