<!DOCTYPE HTML>
<html lang xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <header th:insert="visas/header :: header"></header>
</div>
<div id="content" class="content full">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="region region-content">
                    <div id="block-system-main" class="block block-system">
                        <div class="content">
                            <div id="node-52321" class="node node-page clearfix" about="/vizy/category-type" typeof="schema:Article sioc:Item foaf:Document">
                                <span property="dc:title" content="Классификация и типы виз" class="rdf-meta element-hidden"></span><span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>
                                <div class="content pad-l1e">
                                    <div class="section-content row">
                                        <div class="col-md-6 pull-left">
                                            <div class="panel panel-success">
                                                <div class="panel-heading">
                                                    <h4 class="dark-text">К краткосрочным типам виз относят:</h4>
                                                </div>
                                                <ul class="list-group">
                                                    <li class="list-group-item">1. <a href="#tourist"><span class="inv-color bg-pacifik2">Туристическая виза</span></a></li>
                                                    <li class="list-group-item">2. <a href="#guest"><span class="inv-color bg-pacifik3">Гостевая виза</span></a></li>
                                                    <li class="list-group-item">3. <a href="#delovaj"><span class="inv-color bg-pacifik4">Деловая виза</span></a></li>
                                                    <li class="list-group-item">4. <span class="inv-color bg-pacifik5">Транзитная виза</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-6 pull-right">
                                            <div class="panel panel-success">
                                                <div class="panel-heading">
                                                    <h4 class="dark-text">Долгосрочные типы виз подразделяют на:</h4>
                                                </div>
                                                <ul class="list-group">
                                                    <li class="list-group-item">1. <a href="#guest"><span class="inv-color bg-pacifik2">Гостевая</span></a></li>
                                                    <li class="list-group-item">2. <a href="#jobs"><span class="inv-color bg-pacifik3">Рабочая</span></a></li>
                                                    <li class="list-group-item">3. <span class="inv-color bg-pacifik4">Студенческая</span></li>
                                                    <li class="list-group-item">4. <span class="inv-color bg-pacifik5">Для воссоединения семьи (иммиграционная)</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <p>Под перечисленные выше категории выдают конкретный тип визы в каждом отдельном случае. Например, <strong>типы <a href="#shengenskaya-viza">шенгенских виз</a> подразделяются на основные классы A-D</strong>:
                                            </p>
                                            <p><strong>Виза категории А</strong> - транзит через контролируемую зону аэропорта, выдается лицам, целью визита которых является пересадка в ближайшие 24 часа в аэропортах страны на рейсы, следующие в третьи страны, не являющиеся членами ЕС. Данная виза не дает право покидать контролируемую транзитную зону аэропорта и передвигаться по территории государства.
                                            </p>
                                            <p>
                                                <strong>Виза категории С</strong> - краткосрочная въездная виза. Выдается лицам, целью визита которых является туризм, посещение родственников или друзей, транзит, деловая командировка.
                                            </p>
                                            <p>
                                                <strong>Виза категории D</strong> - долгосрочная виза для одно- или многократного въезда в страну. Этот тип визы еще называют "национальная виза". Являясь национальными, выдаются каждым государством в соответствии со своим национальным законодательством.
                                            </p>
                                        </div>
                                        <div class="panel-footer">
                                            Числовым кодом указываются подробности, например D-14 – это долгосрочная национальная виза для обучения.
                                        </div>
                                    </div>
                                    <hr class="tall">
                                    <section class="section dark-text">
                                        <div class="container">
                                            <div class="section-header align-center ">
                                                <h2>Сроки действия виз. Однократные визы и <span class="highlight">мультивизы</span>.</h2>
                                                <p class="sub-header dark-text">Любая виза выдается с ограниченным сроком действия и дает право находиться в стране лишь определенное время. Так практически все типы виз могут быть однократными и многократными (мультивизами). С однократными все предельно просто, они рассчитаны на разовое посещение. Выехав из страны даже раньше времени, уже нет возможности опять пересечь границу без оформления новой визы. Многократные визы ограничивают только общее время пребывания и не препятствуют регулярному пересечению границы.
                                                </p>
                                            </div>
                                        </div>
                                    </section>
                                    <div class="section-content row">
                                        <div class="col-sm-12 align-left animated fadeInLeft" data-duration="500" data-animation="fadeInLeft" style="animation-delay: 0ms; animation-duration: 0.5s;">
                                            <article>
                                                <h3 class="align-right"><span class="highlight">Краткосрочные</span> визы</h3>
                                                <p>Краткосрочными являются все типы виз, которые выдаются с разрешением на посещение страны сроком <strong>от 1 до 90 дней</strong>.</p>
                                                <p>Краткосрочными бывают транзитные, туристические, гостевые и деловые визы. Виза может быть как однократной так и мульти.</p>
                                                <p>Самое главное - по условиям выдачи краткосрочной визы, ее обладатель обязан покинуть территорию государства не позднее указанных в визе сроков. И находиться в стране не более определенного в визе количества дней.
                                                </p>
                                            </article>
                                        </div>
                                        <div class="col-sm-12 align-left animated fadeInLeft" data-duration="500" data-animation="fadeInLeft" style="animation-delay: 0ms; animation-duration: 0.5s;">
                                            <article>
                                                <h3 class="align-right"><span class="highlight">Долгосрочные</span> визы</h3>
                                                <p>Все долгосрочные визы являются разрешением для пребывания сроком <strong>свыше 91 дня, вплоть до нескольких лет.</strong>.
                                                </p>
                                                <p>Получить долгосрочную визу можно только при достаточном обосновании цели посещения и в случае, если они не противоречат установленным правилам. </p>
                                                <p>Как пример можно выделить студенческие визы для обучения в школах, колледжах, университетах, гостевые визы для посещения родственников на долгий период, рабочие визы.
                                                </p>
                                            </article>
                                        </div>
                                    </div>
                                    <hr class="tall">
                                    <div class="section-content row">
                                        <div class="col-sm-6 align-left animated fadeInLeft" data-duration="500" data-animation="fadeInLeft" style="animation-delay: 0ms; animation-duration: 0.5s;">
                                            <article>
                                                <h3>
                                                    <a id="tourist"><span class="highlight">Туристическая</span></a> виза.</h3>
                                                <p class="sub-title">Это максимально распространенный тип виз, выдаваемых для посещения страны
                                                    туристами для отдыха.</p>
                                                <p>На пребывание в стране с такой визой накладывается ряд ограничений.</p>
                                                <p>Имея туристическую визу в паспорте <strong>нельзя</strong> устраиваться на работу
                                                    или учиться, в общем вести некую деятельность, которая может затронуть интересы посещаемой страны или в случае, если подобная деятельность требует отдельных разрешений.</p>
                                                <p>На самом деле, <strong>запрещена</strong> любая деятельность отличная от туризма.</p>
                                            </article>
                                        </div>
                                    </div>
                                    <hr class="tall">
                                    <div class="section-content row">
                                        <div class="col-sm-6 align-left animated fadeInLeft" data-duration="500" data-animation="fadeInLeft" style="animation-delay: 0ms; animation-duration: 0.5s;">
                                            <article>
                                                <h3><a id="guest"><span class="highlight">Гостевая</span></a> виза.</h3>
                                                <p class="sub-title">Если имеется приглашение от жителя той страны, куда намечена поездка, то можно оформлять гостевую визу. Такая краткосрочная виза позволяет посетить многие страны без необходимых формальностей, таких как бронирование номеров в отелях или указание точного маршрута следования.
                                                </p>
                                                <p>Долгосрочная гостевая виза чаще всего подразумевает посещение родственников или близких знакомых на срок вплоть до нескольких лет.</p>
                                                <p> При этом требуется приглашение и при необходимости достаточное обоснование и подтверждение родственных связей между приглашающей стороной и приглашенным.</p>
                                                <p>Гостевая виза не дает права на трудоустройство и получение дохода в стране, которую вы желаете посетить в рамках своего визита.</p>
                                            </article>
                                        </div>
                                    </div>
                                    <hr class="tall">
                                    <div class="section-content row">
                                        <div class="col-sm-6 align-left animated fadeInLeft" data-duration="500" data-animation="fadeInLeft" style="animation-delay: 0ms; animation-duration: 0.5s;">
                                            <article>
                                                <h3><a id="jobs">
                                                    <span class="highlight">Рабочая</span></a> виза.</h3>
                                                <p class="sub-title">Для официального оформления наемного труда за рубежом необходимо получить рабочую визу. Такая виза является разрешением для пребывания на весь срок действия трудового контракта или соглашения.</p>
                                                <p>Рабочая виза представляет собой стандартный документ либо штамп в паспорте, и процесс оформления рабочей визы может занять много времени. </p>
                                                <p>Как правило, страны, между которыми существуют двусторонние соглашения, не требуют рабочей визы у своих граждан, намеревающихся осуществлять трудовую деятельность в этих странах. </p>
                                                <p>Каждая страна выдвигает свои условия, которым необходимо соответствовать для того, чтобы получить рабочую визу и разрешение на проживание.
                                                </p>
                                                <p>В случае обнаружения факта, что работник принят в штат без рабочей визы, он будет депортирован без права въезда в страну в течение пяти лет, а работодатель оштрафован на солидную сумму.</p>
                                            </article>
                                        </div>
                                    </div>
                                    <hr class="tall">
                                    <div class="section-content row">
                                        <div class="col-sm-6 align-left animated fadeInLeft" data-duration="500" data-animation="fadeInLeft" style="animation-delay: 0ms; animation-duration: 0.5s;">
                                            <article>
                                                <h3><a id="delovaj"><span class="highlight">Деловая</span></a> виза.</h3>
                                                <p class="sub-title">Деловая виза подразумевает посещение страны с целью проведения переговоров или заключения договоров, поиска новых партнеров и т.п.
                                                </p>
                                                <p>Такие разрешения выдаются либо юридическим лицам, либо официальным представителям фирм или компаний. </p>
                                                <p> При этом следует получить приглашение от принимающей стороны, то есть от компаний, с которыми планируются встречи, или официальное письмо от соответствующих органов, например торговой палаты с указанием сферы деятельности заявителя.</p>
                                            </article>
                                        </div>
                                    </div>
                                    <a id="shengenskaya-viza"></a>
                                    <hr class="tall">
                                    <section id="attention" class="long-block guarantee-section">
                                        <div class="container">
                                            <div class="col-md-12 col-lg-9">
                                                <i class="icon-st icon-seo-icons-24 pull-left"></i>
                                            </div>
                                        </div>
                                    </section>
                                    <section id="features-list" class="section dark-text">
                                        <div class="container">
                                            <div class="section-header align-center ">
                                                <h2>Шенгенские визы и <span class="highlight">мультивизы</span>.</h2>
                                                <p class="sub-header dark-text">Шенгенскими называют визы, выданные одной из стран, участвующих в Шенгенском соглашении. Наличие такой визы в паспорте открывает массу прекрасных возможностей: с ней вы сможете беспрепятственно переезжать из одной страны Шенгена в другую, не соблюдая при этом никаких бюрократических формальностей. </p>
                                            </div>
                                        </div>
                                    </section>
                                    <div class="section-content row">
                                        <div class="col-sm-12 align-left animated fadeInLeft" data-duration="500" data-animation="fadeInLeft" style="animation-delay: 0ms; animation-duration: 0.5s;">
                                            <article>
                                                <h3>Какие страны входят в <span class="highlight">Шенгенский</span> союз</h3>
                                                <p>Перечень стран Шенгенского соглашения:</p>
                                                <ul class="list-inline">
                                                    <li class="inv-color bg-pacifik1 mrg-t1em">Австрия</li>
                                                    <li class="inv-color bg-pacifik1 mrg-t1em">Бельгия</li>
                                                    <li class="inv-color bg-pacifik1 mrg-t1em">Чешская Республика</li>
                                                    <li class="inv-color bg-pacifik1 mrg-t1em">Дания</li>
                                                    <li class="inv-color bg-pacifik1 mrg-t1em">Эстония</li>
                                                    <li class="inv-color bg-pacifik1 mrg-t1em">Финляндия</li>
                                                    <li class="inv-color bg-pacifik1 mrg-t1em">Франция</li>
                                                    <li class="inv-color bg-pacifik1 mrg-t1em">Германия</li>
                                                    <li class="inv-color bg-pacifik1 mrg-t1em">Греция</li>
                                                    <li class="inv-color bg-pacifik1 mrg-t1em">Венгрия</li>
                                                    <li class="inv-color bg-pacifik1 mrg-t1em">Исландия</li>
                                                    <li class="inv-color bg-pacifik1 mrg-t1em">Италия</li>
                                                    <li class="inv-color bg-pacifik1 mrg-t1em">Латвия</li>
                                                    <li class="inv-color bg-pacifik1 mrg-t1em">Литва</li>
                                                    <li class="inv-color bg-pacifik1 mrg-t1em">Люксембург</li>
                                                    <li class="inv-color bg-pacifik1 mrg-t1em">Мальта</li>
                                                    <li class="inv-color bg-pacifik1 mrg-t1em">Голландия</li>
                                                    <li class="inv-color bg-pacifik1 mrg-t1em">Норвегия</li>
                                                    <li class="inv-color bg-pacifik1 mrg-t1em">Польша</li>
                                                    <li class="inv-color bg-pacifik1 mrg-t1em">Португалия</li>
                                                    <li class="inv-color bg-pacifik1 mrg-t1em">Словакия</li>
                                                    <li class="inv-color bg-pacifik1 mrg-t1em">Словения</li>
                                                    <li class="inv-color bg-pacifik1 mrg-t1em">Испания</li>
                                                    <li class="inv-color bg-pacifik1 mrg-t1em">Швеция</li>
                                                    <li class="inv-color bg-pacifik1 mrg-t1em">Швейцария</li>
                                                    <li class="inv-color bg-pacifik1 mrg-t1em">Лихтенштейн</li>
                                                </ul>
                                                <p>Есть шесть стран-членов ЕС, которые не входят в шенгенскую зону, а также государственные территории, которые также не являются частью шенгенского соглашения.</p>
                                                <p> Из шести стран, не входящих в Шенген, четыре скоро присоединятся к шенгенской зоне –
                                                </p><ul class="list-inline">
                                                <li class="inv-color bg-pacifik2 mrg-t1em">Болгария</li>
                                                <li class="inv-color bg-pacifik2 mrg-t1em">Хорватия</li>
                                                <li class="inv-color bg-pacifik2 mrg-t1em">Кипр</li>
                                                <li class="inv-color bg-pacifik2 mrg-t1em">Румыния</li></ul>
                                                <p>Две оставшиеся страны ЕС: <span class="inv-color bg-pacifik6 mrg-t1em">Ирландия</span> и <span class="inv-color bg-pacifik6 mrg-t1em">Великобритания</span>, решили отказаться от участия в Шенгенском соглашении(в общем случае законодательство ЕС применяется во всех 28 странах-членах ЕС. Однако иногда страны-члены решают отказаться от законов или соглашений ЕС, т.е. они не должны учувствовать в некоторых областях политики).</p>
                                                <p> Кроме вышеуказанных стран, есть определенные территории внутри стран ЕС, которые также не являются частью шенгенской зоны: Французская Гвиана, Гваделупа, Мартиника, Реюньон, Майотта, Сен-Бартельми и Сен-Мартен.</p>
                                            </article>
                                        </div>
                                    </div>
                                    <hr class="tall">
                                    <div class="section-content row">
                                        <div class="col-sm-6 align-left animated fadeInLeft" data-duration="500" data-animation="fadeInLeft" style="animation-delay: 0ms; animation-duration: 0.5s;">
                                            <article>
                                                <h3><a id="biometric"><span class="highlight">Биометрические</span> данные</a> на визу.</h3>
                                                <p class="sub-title">Начиная с <strong>14 сентября 2015 года</strong> для получения визы в любую страну Шенгенского соглашения гражданам РФ необходимо сдать биометрические данные.
                                                </p>
                                                <p>Теперь необходимо лично прибыть в уполномоченную организацию и сдать отпечатки пальцев.</p>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<div th:insert="visas/footer :: footer"></div>
</body>
</html>